:root {
  --slate-950: #020617;
  --slate-900: #0f172a;
  --slate-800: #1e293b;
  --slate-700: #334155;
  --slate-600: #475569;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --slate-300: #cbd5e1;
  --slate-200: #e2e8f0;
  --slate-100: #f1f5f9;

  --blue-900: #1e3a8a;
  --blue-800: #1e40af;
  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
  --blue-400: #60a5fa;

  --react: #61dafb;
  --nest: #e92747;
  --node: #3c873a;
  --typescript: #007acc;
  --css: #264de4;
  --html: #e44d26;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--slate-200);
  font-family: "Montserrat", sans-serif;

  background: linear-gradient(45deg, var(--slate-950), var(--slate-800));
  width: 100vw;
  min-height: 100vh;

  font-size: 1.6rem;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input {
  border: none;
  border-radius: 5px;
  padding: 4px 6px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: 2px solid var(--gray-8);
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--slate-100);
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.text-gradient {
  background: -webkit-linear-gradient(45deg, var(--blue-700), var(--blue-400));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  height: 1px;
  color: var(--slate-700);
}

.mouse-follower {
  background: linear-gradient(45deg, var(--blue-900), var(--blue-800));
  animation: 20s move infinite;
  filter: blur(200px);

  width: 300px;
  height: 300px;
  display: inline-block;
  position: fixed;
  border-radius: 50%;
  z-index: 1;
}

/* .content {
  position: relative;
  z-index: 2;
} */

body > * {
  position: relative;
  z-index: 2;
}

@keyframes move {
  0% {
    rotate: 0;
  }
  50% {
    rotate: 360deg;
  }
  100% {
    rotate: 0;
  }
}

/************************** HERO **************************/
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__greeting {
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: var(--slate-300);
  font-weight: 800;
}

.hero__quote {
  font-size: 4.8rem;
  line-height: 1.2;
  letter-spacing: 2px;
}

.hero__arrows-down {
  margin-top: 16px;
  flex-basis: 4.8rem;
  stroke: var(--slate-300);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.cta > * {
  transition: all 200ms;
}

.cta > *:hover {
  transform: translateY(-2px);
}

.cta__contact {
  background: transparent;
  padding: 4px 8px;

  border-radius: 15px;
  border: none;
  box-shadow: var(--blue-600) 0 0 10px 0px;
  text-shadow: var(--blue-600) 0px 0 20px;

  font-size: 2rem;
  font-weight: 600;

  color: var(--blue-600);
}

.cta__about-me:link,
.cta__about-me:visited {
  font-size: 2rem;
  font-weight: 600;
  color: var(--slate-400);
  display: inline-block;
}

/************************** SKILLS **************************/
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__header {
  font-size: 4.8rem;
  font-weight: 800;
  color: var(--slate-100);
  margin-bottom: 32px;
}

.technologies {
  display: flex;
  gap: 128px;
}

.technology {
  position: relative;
}

.technologies img {
  height: 128px;
}

.glow {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: blur(200px);
  z-index: 1;
}

.react-glow {
  background: linear-gradient(45deg, var(--react), transparent);
}

.nest-glow {
  background: linear-gradient(45deg, var(--nest), transparent);
}

.node-glow {
  background: linear-gradient(45deg, var(--node), transparent);
}

.typescript-glow {
  background: linear-gradient(45deg, var(--typescript), transparent);
}

.css-glow {
  background: linear-gradient(45deg, var(--css), transparent);
}

.html-glow {
  background: linear-gradient(45deg, var(--html), transparent);
}
