:root {
  --slate-950: #020617;
  --slate-900: #0f172a;
  --slate-800: #1e293b;
  --slate-700: #334155;
  --slate-600: #475569;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --slate-300: #cbd5e1;
  --slate-200: #e2e8f0;
  --slate-100: #f1f5f9;

  --blue-900: #1e3a8a;
  --blue-800: #1e40af;
  --blue-700: #1d4ed8;
  --blue-400: #60a5fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--slate-200);
  font-family: "Montserrat", sans-serif;

  background: linear-gradient(45deg, var(--slate-950), var(--slate-800));
  width: 100vw;
  min-height: 100vh;

  font-size: 1.6rem;
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input {
  border: none;
  border-radius: 5px;
  padding: 4px 6px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: 2px solid var(--gray-8);
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--slate-100);
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.mouse-follower {
  background: linear-gradient(45deg, var(--blue-900), var(--blue-800));
  animation: 20s move infinite;
  filter: blur(200px);

  width: 300px;
  height: 300px;
  display: inline-block;
  position: fixed;
  border-radius: 50%;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

@keyframes move {
  0% {
    rotate: 0;
  }
  50% {
    rotate: 360deg;
  }
  100% {
    rotate: 0;
  }
}
