:root {
  --slate-950: #020617;
  --slate-900: #0f172a;
  --slate-800: #1e293b;
  --slate-700: #334155;
  --slate-600: #475569;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --slate-300: #cbd5e1;
  --slate-200: #e2e8f0;
  --slate-100: #f1f5f9;

  --blue-900: #1e3a8a;
  --blue-800: #1e40af;
  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
  --blue-400: #60a5fa;

  --react: #61dafb;
  --nest: #e92747;
  --node: #3c873a;
  --typescript: #007acc;
  --css: #264de4;
  --html: #e44d26;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--slate-200);
  font-family: "Montserrat", sans-serif;

  background: linear-gradient(45deg, var(--slate-950), var(--slate-800));
  width: 100vw;

  font-size: 1.6rem;
  overflow-x: hidden;
}

body.disable-scroll {
  overflow: hidden;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* input {
  border: none;
  border-radius: 5px;
  padding: 4px 6px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
} */

input:focus {
  outline: 2px solid var(--gray-8);
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--slate-100);
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.text-gradient {
  background: -webkit-linear-gradient(45deg, var(--blue-700), var(--blue-400));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  height: 1px;
  color: var(--slate-700);
}

.mouse-follower {
  background: linear-gradient(45deg, var(--blue-900), var(--blue-800));
  animation: 20s move infinite;
  filter: blur(200px);

  width: 300px;
  height: 300px;
  display: inline-block;
  position: fixed;
  border-radius: 50%;
  z-index: 1;
}

body * {
  position: relative;
  z-index: 2;
}

@keyframes move {
  0% {
    rotate: 0;
  }
  50% {
    rotate: 360deg;
  }
  100% {
    rotate: 0;
  }
}

.lazy-load {
  opacity: 0.5 !important;
  transform: translateY(10%);
}

/************************** NAV **************************/

.navbar {
  height: 6.4rem;
  width: 100vw;

  position: fixed;
  z-index: 3;
  bottom: 2.5%;
  left: 50%;

  transform: translate(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;

  opacity: 1;
  transition: all 200ms;
}

.navbar__btn svg {
  width: 4rem;
  height: 4rem;
}

.navbar.hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transform: translate(-50%, -55%);
}

.navbar__btn * {
  z-index: 3;
}

.navbar__btn:link,
.navbar__btn:visited,
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;

  text-decoration: none;
  color: var(--slate-100);

  background: linear-gradient(45deg, var(--slate-800), var(--slate-700));
  transition: all 200ms;
}

.navbar__btn:hover,
.navbar__btn:active {
  transform: translateY(-4px) scale(1.1);
}

@media screen and (max-width: 34em) {
  .navbar {
    flex-wrap: wrap;
    bottom: 5%;
    gap: 4px;
    justify-content: center;
  }
}

/************************** HERO **************************/
.hero {
  text-align: center;
}

.hero__greeting {
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: var(--slate-300);
  font-weight: 800;
}

.hero__quote {
  font-size: 4.8rem;
  line-height: 1.2;
  letter-spacing: 2px;
}

.hero__arrows-holder {
  width: 4.8rem;
}

.hero__arrows-down {
  margin-top: 16px;
  flex-basis: 4.8rem;
  stroke: var(--slate-300);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.cta > * {
  transition: all 200ms;
}

.cta > *:hover {
  transform: translateY(-2px);
}

.cta__contact {
  background: transparent;
  padding: 4px 8px;

  border-radius: 15px;
  border: none;
  box-shadow: var(--blue-600) 0 0 10px 0px;
  text-shadow: var(--blue-600) 0px 0 20px;

  font-size: 2rem;
  font-weight: 600;

  color: var(--blue-600);
}

.cta__about-me:link,
.cta__about-me:visited {
  font-size: 2rem;
  font-weight: 600;
  color: var(--slate-400);
  display: inline-block;
}

/************************** ABOUT ME **************************/

@media screen and (max-width: 68em) {
  .about-me {
    align-items: center;
  }
}

.about-me {
  max-width: 50ch;
  padding: 12px 16px;
  margin: 0 auto;
  line-height: 1.4;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  font-size: 1.8rem;
}

.about-me__header {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 3.2rem;
}

.about-me__glow {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 750px;
  border-radius: 50%;
  filter: blur(200px);
  z-index: 1;
  background-color: var(--slate-800);
}

/************************** SKILLS **************************/
.skills {
}

.skills__header {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 12.8rem;
}

.technologies {
  display: flex;
  gap: 156px;

  flex-wrap: wrap;
  justify-content: center;
}

.technology {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 200ms;
}

.technology-name {
  position: absolute;
  bottom: -2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  transition: all 200ms;
  transform: translateY(4px);

  opacity: 0;
}

.technology:hover .technology-name {
  transform: translateY(0);
  opacity: 1;
}

.technologies img {
  width: 128px;
}

.glow {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: blur(200px);
  z-index: 1;
}

.react-glow {
  background: linear-gradient(45deg, var(--react), transparent);
}

.nest-glow {
  background: linear-gradient(45deg, var(--nest), transparent);
}

.node-glow {
  background: linear-gradient(45deg, var(--node), transparent);
}

.typescript-glow {
  background: linear-gradient(45deg, var(--typescript), transparent);
}

.css-glow {
  background: linear-gradient(45deg, var(--css), transparent);
}

.html-glow {
  background: linear-gradient(45deg, var(--html), transparent);
}

/************************** PROJECTS **************************/

.projects {
}

.projects__header {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 12.8rem;
}

.projects__header {
}

.project__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.project__card-small {
  position: relative;
  width: 31rem;
  background: linear-gradient(45deg, var(--slate-950), var(--slate-900));
  border-radius: 15px;
  z-index: 2;
  transition: all 200ms;
}

.glow--card-small {
  background-color: var(--slate-700);
  width: 400px;
  height: 400px;
  z-index: 1;
}

.project__card-big:hover,
.project__card-small:hover {
  transform: translateY(-10%);
  cursor: pointer;
}

.project__card-small img,
.project__card-big img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-small__content {
  padding: 3.6rem 2.4rem;
  padding-top: 2rem;
}

.card-small__header {
  font-size: 2.8rem;
  margin-bottom: -8px;
  color: var(--slate-300);
}

.card-tags {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  font-size: 2rem;
  font-weight: 600;
}

.project__card-big {
  position: relative;
  width: 40rem;
  background: linear-gradient(45deg, var(--slate-950), var(--slate-900));
  border-radius: 15px;
  z-index: 4;
  transition: all 200ms;
}

.project__card-big img {
  border-radius: 15px 15px 0 0;
}

.project__card-big .card-small__header {
  font-size: 3.6rem;
  color: var(--slate-100);
}

.glow--card-big {
  width: 400px;
  height: 400px;
  z-index: 1;
  background-color: var(--blue-900);
}

/************************** TIMELINE **************************/

.timeline {
  position: relative;
  margin-bottom: 12.8rem;
}

.timeline__header {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 12.8rem;
}

.timeline__glow-left {
  width: 200px;
  height: 200px;
  filter: blur(200px);
  background-color: var(--slate-700);
  position: absolute;
  left: 25%;
  top: 25%;
}

.timeline__glow-right {
  width: 200px;
  height: 200px;
  filter: blur(200px);
  background-color: var(--slate-700);
  position: absolute;
  left: 15%;
  top: 15%;
}

.timeline__container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}

.timeline__text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  font-size: 1.6rem;
}

.timeline__left-container {
  left: 0;
}

.timeline__right-container {
  left: 50%;
}

.timeline__container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
}

.timeline__icon {
  position: absolute;
  width: 4.8rem;
  height: 4.8rem;

  border-radius: 50%;
  right: -2.4rem;
  top: 32px;

  background: linear-gradient(45deg, var(--slate-600), var(--slate-700));

  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline__icon svg {
  width: 4rem;
}

.timeline__right-container .timeline__icon {
  left: -2.4rem;
}

.timeline__right-container img {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: linear-gradient(var(--slate-400), var(--slate-700));
  border-radius: 50px;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.timeline__text-box h2 {
  font-weight: 600;
}

.timeline__text-box p:first-of-type {
  margin-bottom: 15px;
}

@media screen and (max-width: 50em) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .timeline__container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .timeline__text-box {
    font-size: 13px;
  }

  .timeline__text-box p:first-of-type {
    margin-bottom: 10px;
  }

  .timeline__right-container {
    left: 0;
  }

  .timeline__left-container img,
  .timeline__right-container img {
    left: 10px;
  }

  .timeline__left-container .timeline__icon,
  .timeline__right-container .timeline__icon {
    left: 8px;
  }
}

/************************** FOOTER **************************/

/* .footer-transition {
  width: 100vw;
  height: 30rem;
  background: linear-gradient(transparent 0%, var(--blue-400) 25%);
} */

.footer-line {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  width: 200vw;

  background: var(45deg, var(--slate-900), var(--slate-950));
}

.footer {
  position: relative;
  padding: 3.6rem;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

.footer-copyright {
  font-size: 2rem;
  font-weight: 600;
}

/************************** CONTACT **************************/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  background-color: var(--slate-800);
  border-radius: 15px;
  max-width: 90vw;

  display: flex;
  flex-direction: column;
  padding: 1.6rem 3.6rem;
  gap: 4px;
}

.contact__header {
  margin-bottom: 1.6rem;
  font-size: 3.6rem;
}

.contact__input {
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  background-color: var(--slate-700);
}

.contact__input:focus,
.contact__textarea:focus {
  outline: 2px solid var(--blue-600);
}

.contact__textarea {
  height: 20rem;
  max-width: 60rem;
  max-height: 90rem;
  min-width: 33.5rem;

  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  background-color: var(--slate-700);
}

.contact label {
  font-weight: 500;
}

.contact__subject {
}

.contact__subject-error {
  margin-bottom: 8px;
}

.contact__subject-error,
.contact__message-error {
  color: var(--nest);
  transition: all 200ms;
}

.contact__message {
}

.contact__message-error {
  margin-bottom: 24px;
}

.contact__button {
  text-align: center;
  text-decoration: none;
  background: transparent;
  padding: 4px 8px;

  border-radius: 15px;
  border: none;
  box-shadow: var(--blue-600) 0 0 10px 0px;
  text-shadow: var(--blue-600) 0px 0 20px;

  font-size: 2rem;
  font-weight: 600;

  color: var(--blue-600);

  transition: all 200ms;
}

.contact__button {
  box-shadow: var(--blue-700) 0 0 20px 0px;
  text-shadow: var(--blue-700) 0px 0 30px;
}

/************************** MODAL PROJECT  **************************/

.modal__project-image {
  width: 54rem;
  margin-bottom: 12px;
  border-radius: inherit;
}

.modal__project-header {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 24px;
}

.modal__project-technologies {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-top: -16px;
  margin-bottom: 12px;
}

.modal__project-technology {
  position: relative;
}

.project-technology__image {
  width: 4.8rem;
}

.glow--small {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  filter: blur(50px);
}

.modal__description {
  margin-top: 12px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.modal-button:link,
.modal-button:visited,
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;

  text-decoration: none;
  color: var(--slate-100);

  background: linear-gradient(45deg, var(--slate-900), var(--slate-950));
  transition: all 200ms;
}

.modal-button:hover,
.modal-button:active {
  transform: translateY(-4px) scale(1.1);
}

.modal-button svg {
  width: 4rem;
  height: 4rem;
}

/************************** TOAST  **************************/
.toast {
  border-radius: 10px;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(45deg, var(--slate-900), var(--slate-950));
  transition: all 200ms;
  max-width: 50rem;
  padding: 1.6rem 3.6rem;
}

.toast__glow {
  background-color: var(--slate-600);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast.hidden {
  opacity: 0;
  transform: translate(-50%, -10%);
}
